{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}
<!-- Inicio de Bloque-->

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/job.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{ oferta.titOfer }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="{% static 'assets/img/icon/job-list1.png' %}" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{ oferta.titOfer }}</h4>
                                    </a>
                                    <ul>
                                        <li>{{ oferta.cargoOfer }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ oferta.ubcOfer }}</li>
                                        <li>$ {{ oferta.salOfer }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Descripción del cargo</h4>
                                </div>
                                <p>{{ oferta.descOfer }}.</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Requerimientos del cargo (Skills, Habilidades y demás)</h4>
                                </div>
                               <ul>
                                   <li> {{ oferta.skillOfer }}. </li>
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Fecha de creacion : <span>{{ oferta.creaOfer }}</span></li>
                              <li>Ubicación : <span>{{ oferta.ubcOfer }}</span></li>
                              <li>Contrato : <span>{{ oferta.contOfer }}</span></li>
                              <li>Salario :  <span>${{ oferta.salOfer }}</span></li>
                              <li>Fecha de Act. : <span>{{ oferta.actuOfer }}</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <a href="{% url 'applications' oferta.idOfer %}" class="btn">Aplicar</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

<!-- Cierre de Bloque-->
{% endblock %}