{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Acerca de nosotros</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>QUÉ ESTAMOS HACIENDO?</span>
                                <h2>Muchas personas talentosas están consiguiendo su primer empleo</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Estamos reuniendo toda la información y solicitudes de las empresas e industrias de la región que han confiado en el talento de nuestra Universidad.</p>
                                <p>Hemos tomado todas las ofertas que nos han hecho llegar los miles de empresarios de las diferentes ciudades y hemos seleccionado las ofertas que requieren de nuestros talentos para ser aplicadas.</p>
                                <a href="add_offer.html" class="btn post-btn">Crea una oferta</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="{% static 'assets/img/service/support-img.jpg' %}" alt="">
                            <div class="support-img-cap text-center">
                                <p>Desde</p>
                                <span>1915</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150" data-background="{% static 'assets/img/gallery/how-applybg.png' %}">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle white-text text-center">
                            <span>Proceso de aplicación</span>
                            <h2> Cómo funciona...</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                                <h5>1. Mira las ofertas</h5>
                            <p>Busca en el listado de ofertas cual se adecua mas a tus capacidades y gustos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                                <h5>2. Aplica</h5>
                            <p>Selecciona la oferta y aplica para que puedas participar en el proceso.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                                <h5>3. Consigue trabajo</h5>
                            <p>Si cumples con los requerimientos y muestras todo tu potencial, felicitaciones, el trabajo es tuyo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- How  Apply Process End-->
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="{% static 'assets/img/testmonial/alm1.png' %}" alt="">
                                            <span>Francisco Perez</span>
                                            <p>Auxiliar de Sistemas</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Quería empezar a trabajar, aprender de lo que trabajo y que aún así me quede tiempo para poder terminar mis estudios.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="{% static 'assets/img/testmonial/alm2.png' %}" alt="">
                                            <span>Carlos Valderrama</span>
                                            <p>Administrador de proyectos</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“A lo largo de mi carrera he aprendido muchas cosas que me han servidor para desempeñar mis tareas en este empleo.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="{% static 'assets/img/testmonial/alm3.png' %}" alt="">
                                            <span>Margarita Londoño</span>
                                            <p>Desarrollador</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Estoy feliz con esta oportunidad, siempre me ha gustado el desarrollo, el código, todo!, y ademas cada día aprendo de mis compañeros.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        

    {% endblock %}