{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}
<!-- Inicio de Bloque-->


        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/app.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Aplicaciones a vacantes</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="{% static 'assets/img/icon/job-list1.png' %}" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{ oferta.titOfer }}</h4>
                                    </a>
                                    <ul>
                                        <li>{{ oferta.idEmpOfer }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ oferta.ubcOfer }}</li>
                                        <li>$ {{ oferta.salOfer }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Descripcion de la oferta</h4>
                                </div>
                                <p>{{ oferta.descOfer }}.</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Requerimientos del cargo (Skills, Habilidades y demás)</h4>
                                </div>
                               <ul>
                                   <li>{{ oferta.skillOfer }}. </li>
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Detalles de la oferta</h4>
                                </div>
                               <ul>
                                   <li>Cargo: {{ oferta.cargoOfer }}.</li>
                                   <li>Tipo de contrato: {{ oferta.contOfer }}</li>
                               </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Fecha de publicacion : <span>{{ oferta.creaOfer }}</span></li>
                              <li>Ubicacion : <span>{{ oferta.ubcOfer }}</span></li>
                              <li>Contrato : <span>{{ oferta.contOfer }}</span></li>
                              <li>Salario :  <span>{{ oferta.contOfer }}</span></li>
                              <li>Fecha de aplicacion : <span> {{ current_time }}</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <button type="button" class="btn" data-toggle="modal" data-target="#aplicaModal">Aplicar Ahora!!</button>
                            <!-- <a href="#" class="btn">Aplica Ahora!!</a> -->
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Informacion de la compañia</h4>
                           </div>
                              <span>{{ empresa.nomEmp }}</span>
                            <ul>
                                <li>Nombre: <span>{{ empresa.nomEmp }} </span></li>
                                <li>Sector : <span>{{ empresa.sectEmp }} </span></li>
                                <li>Email: <span>{{ empresa.mailEmp }} </span></li>
                                <li>Telefono: <span>{{ empresa.telEmp }} </span></li>
                                <li>Direccion : <span>{{ empresa.dirEmp }} </span></li>
                                <li>Nit: <span>{{ empresa.idEmp }} </span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->


<!-- Cierre de Bloque-->
<!-- Modal -->
<div class="modal fade" id="aplicaModal" tabindex="-1" role="dialog" aria-labelledby="aplicaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content form_content">
            <div class="modal-header">
                <h5 class="modal-title" id="aplicaModalLabel">Aplica Ahora!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ValidarNumeroForm" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" name="idAlu" id="idAlu" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Id de alumno'" placeholder="Id de alumno">
                        </div>
                    </div>
                    <span id="errorNumero" style="color: red;"></span>
                    <button type="button" class="btn btn-primary" id="ValidarNumeroBtn">Aplicar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var $ = jQuery.noConflict()
    $(document).ready(function() {
        $(".form_content").on("click", "#ValidarNumeroBtn", function() {
            event.preventDefault();
            var idAlu = $("#ValidarNumeroForm input[name='idAlu']").val();
            var url = "{% url 'validar_numero_alu' oferta.idOfer 0 %}".replace('0', idAlu);
            $.ajax({
                url: url,
                method: "POST",
                data: $("#ValidarNumeroForm").serialize(),
                success: function(data) {
                    if (data.existe) {
                        console.log(data);
                        $("#errorNumero").text("");
                        $("#ValidarNumeroForm")[0].submit();
                        // Aquí puedes realizar acciones adicionales si el número es válido
                        // Por ejemplo, agregar el registro en la base de datos
                    } else {
                        console.log('ingreso existe falso');
                        $("#errorNumero").text("El número no coincide con ningún alumno.");
                    }
                }
            });
        });
    });
</script>

{% endblock %}









